@import url('./layout.css');
body{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    background-color: brown;
    text-decoration: none; 
}

nav ul{
    display: flex;
    justify-content: space-around; 
    width: 100%; 
} 

nav ul li{
    padding: 1em;
    font-size: 20pt;
}

nav ul li a{
    color: white;
}

main{
    width: 35;
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
}

main p{
    padding: 1em;
}

article{
    width: 100%;
    height: 100%;
    flex-direction: row;
    border: 1px solid black;
    padding: 1em;
}

article div{
    background-color: dimgrey;
    display: flex;
    justify-content: center;
    font-size: 18pt;
    width: 100%;
    
}

aside{
    width: 100%;
    height: 100%;
    padding: 1em;
    font-size: 15pt;
    border: 1px solid black;
    margin: 1em;
}
.f2{
    width: 100%;}

aside ul{
    max-width: 100%;
    height: auto;
}


aside p{
    padding: 1em;
}

aside h1{
    background-color: rgb(20,25,30s);
    justify-content: center;
    font-size: 37pt;
    color: rgb(6, 5, 5);
    border: 1.5em;
}

aside a{
    background-color: yellow;
    display: flex;
    color: rgb(21, 14, 14);
    justify-content: center;
    font-size: 18pt;
}

body footer{
    /* background: rgb(224, 203, 203);
    color: aqua;
    padding:em;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* gap: 2em; */
    text-align: center;

}

footer li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-option-2{
    background-image: url(../images/scott-webb-UjupleczBOY-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

footer p{
    padding: 20px;
}